body {
  scroll-behavior: smooth;
  position: relative;
}

.text-color {
  color: #32325d;
}

.nav-link {
  color: #32325d !important;
  font-weight: 600;
}

.dim-text {
  color: #41417c;
}

#content {
  max-width: 90%;
  margin: 0 auto;
}

#content p {
  color: #32325d;
  font-weight: 600;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #efefef;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 1;
  color: #757f9a;
  font-style: normal;
}

.testimonial blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -0.5em;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #fff;
}

hr {
  width: 300px;
}
.background {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1041%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='38.97' cx='607.86' cy='73.28' fill='url(%23SvgjsLinearGradient1042)'%3e%3c/circle%3e%3ccircle r='35.755' cx='1064.97' cy='458.6' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='38.035' cx='347.55' cy='538.71' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='50.235' cx='974.67' cy='550.47' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='52.48' cx='335.35' cy='238.48' fill='url(%23SvgjsLinearGradient1043)'%3e%3c/circle%3e%3ccircle r='43.405' cx='1195.94' cy='537.41' fill='url(%23SvgjsLinearGradient1044)'%3e%3c/circle%3e%3ccircle r='35.675' cx='230.16' cy='398.21' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='55.96' cx='153.63' cy='209.48' fill='%2343468b'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1041'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='529.9200000000001' y1='73.28' x2='685.8000000000001' y2='73.28' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1042'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='230.39000000000004' y1='238.47999999999996' x2='440.31000000000006' y2='238.47999999999996' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1043'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1109.13' y1='537.41' x2='1282.75' y2='537.41' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1044'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* footer section style  */
.footer-text {
  color: #32325d;
}

/* typing */
.typed::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* logo  */
.logo {
  font-weight: 800;
  color: #32325d !important;
}
/* try to hover  */

.nav-item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #32325d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-item:hover::after {
  transform: scaleX(0.9);
}
